[user]
	name = Jesse Malinosky
	email = j2@jessemalinosky.com
	signingkey = 669454E23EACAACD6EB8F87EC9CBD778A37AE6C1  
[color]
	ui = auto
[core]
	editor = vim
	pager = more
	autocrlf = false
[merge]
	ff = yes
[commit]
	gpgsign = true
[gpg]
	program = gpg2
