[submodule "zsh/mod/prompt_j2"]
	path = zsh/mod/prompt_j2
	url = https://github.com/malinoskj2/prompt_j2
[submodule "zsh/mod/z"]
	path = zsh/mod/z
	url = https://github.com/agkozak/zsh-z
[submodule "zsh/mod/zsh-autosuggestions"]
	path = zsh/mod/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
