/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: linear-gradient(90deg, rgba(116, 199, 236, .4) 10%, rgba(242, 205, 205, .45) 73%);
  color: #FFFAFE;
  font-family: SF Pro Display;
  font-size: 13px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  font-weight: bold;
}

#clock.date {
  padding-right: 4px;
}

#clock.time {
  padding-right: 4px;
}

#workspaces {
  padding-left: 6px;
}

#workspaces button {
  font-family: SF Pro Display;
  font-size: 11px;
  transition: color 0.2s ease;
  opacity: 0.6;
}

#workspaces button:nth-child(1) {
  color: #F2CDCD;
}

#workspaces button:nth-child(2) {
  color: #F2BBAA;
}

#workspaces button:nth-child(3) {
  color: #EFA882;
}

#workspaces button:nth-child(4) {
  color: #EDA87A;
}

#workspaces button:nth-child(5) {
  color: #E89060;
}

#workspaces button.active {
  font-size: 14px;
  opacity: 1;
}

#workspaces button:hover {
  opacity: 0.75;
}

#custom-logo {
  padding-left: 4px;
  font-size: 18px;
}

#custom-active {
  padding-left: 12px;
  font-weight: bold;
  font-size: 13px;
}

#window {
  font-weight: bold;
}
